<style>

html{font-color: #8087E8; width:100%;
    height:100%;
    border-radius:250px;
    font-size:100%;


	}


.starterp	{color: lightblue;
			font-size: 20px;
			text-align: center;}

article	{font-size: 20px;
		color: #AE8EF0;



		}

.listing	{text-align: center;
			list-style-type:none;
			font-size: 25px;
			color: black;}

details	{text-align: left;
		color: #AE8EF0;
		font-family: 'Signika', sans-serif;
		}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: 40px;
    width: 20%;}

ul.topnav {font-family: 'Cookie', cursive;
	font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgZN1vvOJltl4ZzL4ikFecWLoK6WpMLIpDt84SV_O-c7D9FCe77Q");
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #8087E8;
}

ul.topnav li.right	{float: right;}

ul.topnav li a.active {
    background-color: #5660F9;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



body	{background-color: #3E3A39;
		margin: 0;
		background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT_5XCilCjZUhpnfaB70RxVz2W_TwlurX6ukcQox_6STQ_hK2YCg");}

h1	{font-family: 'Cookie', cursive;
    font-size: 55px
	; text-align: center;
	color: #8087E8;
	}

.hyacinth	{font-family: 'Cookie', cursive;
    font-size: 55px
	; text-align: center;
	color: #AE8EF0;
	}

.dandelion	{font-family: 'Cookie', cursive;
    font-size: 55px
	; text-align: center;
	color: yellow;
	}

.chrysanthemum	{font-family: 'Cookie', cursive;
    font-size: 55px
	; text-align: center;
	color: red;}


.anemone	{font-family: 'Cookie', cursive;
    font-size: 55px
	; text-align: center;
	color: white;}

.dandi {color: #F6EF12;}


.chrys	{color: #EF4848;}

.ane	{color: lightgrey;}




a {color: white;
	padding: 25px;}



















</style>
